@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,700,100italic,300italic,400italic,700italic);
body
{
	font-family:Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color:#fff;
	line-height:1.4;
	margin-left:15%;
	margin-right:10%;
}
.need{
	
	padding-top:25px;
	
	}
.quotes
{
	font-size:17px;
	color:#4D525B;
	line-height:1.5;
	margin-bottom:0px;
	padding-top:5px;
}
h1
{
	font-size:32px;
	font-weight:700;
}
.project-legend
{
	padding-top: 45px;
	font-size:20px;
	font-weight:700;
	border:0px 0px 0px 0px;
}
.form-control{
	height:50px;
	font-size:16px;
	
}

.fileUpload input 
{
	position:absolute;
	font-size:50px;
	opacity:0;
	padding-right:10px;
	padding-top:10px;	
	background:white;
}
.file-uploader-area
{
	position:absolute;
	width:100%;
	border:dashed;
	border-width:0.5px;
	height:70px;
	padding-top:16px;	
	padding-bottom:16px;
	padding-left: 10px;	
}
.container
{
	display:block;
	position:relative;
	padding-left:35px;
	margin-bottom:12px;
	cursor:pointer;
	font-size:18px;
	font-weight:400;
	
}
.container input [type=radio]{
    position: absolute;
    opacity: 0;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    margin-right:30px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
.btn-primary
{
	background:#f77d0e;
	border:1px solid #f77d0e;
	color:#F7F7F7;
	font-weight:700;
	font-size:20px;
	text-shadow:0px -1px transparent;
}
.btn-xlarge
{
	border-radius:3px;
	padding:18px 26px;
}