/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* general */
body {
    background-color: #ffffff;
}


/* page */
.page-wrapper {
    margin: 10 auto;
    width: auto;
}


/* box */
.box-content {
    padding:20px;
    background-color: #ffffff;

}


textarea {
    background-color:#ffffff;
    border:#EFEFEF solid 1px;
    color:#333;
    height:100px;
    width:70%;
}


/* richtext custom style */
.richText {
    margin-top: 0px;
    -webkit-box-shadow: 0 0 0px 0 #999;
    -moz-box-shadow: 0 0 0px 0 #999;
    box-shadow: 0 0 0px 0 #999;
}