/*font*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
body {font-family: 'Roboto', sans-serif;}
/*navbar css*/
.navbar-default.custom-navbar{
  background: #fff;
  border-bottom: none;
  margin-bottom: 0px;
  -webkit-box-shadow: -5px 12px 10px -10px rgba(0,0,0,0.4);
  -moz-box-shadow: -5px 12px 10px -10px rgba(0,0,0,0.4);
  box-shadow: -5px 12px 10px -10px rgba(0,0,0,0.4);
}
 .custom-navbar .navbar-nav > li > a {
    color: #000;
    font-weight: 700;
  }

  .custom-navbar .navbar-nav > li > a.active{
    border-bottom: 2px solid #0cb58f;
  }
  .custom-navbar .navbar-nav > li > a{
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
  }

/*banner*/

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
}
.fullscreen-bg {
    position: relative;
    overflow: hidden;
    z-index: -100;
    width: 100%;
   
}


.about_text{font-weight: 300;padding-top: 50px;padding-bottom: 40px;}
.freelancer{
  background: #1ce7b5;
  padding-top:35px;
  padding-bottom: 25px;
}
.freelancer p{
  font-weight: 300;
}
.freelancer-img{padding-top: 43px;}
.freelancer-img img{margin: 0 auto;}
.seeker_features{
  padding-top: 15px;
  padding-bottom: 30px;
}
.experience{
  background-image: url(./img/polygon1.png) !important;
}
.efficient{
  background-image: url(./img/polygon2.png) !important; 
  min-height: 781px !important;
}
.feature{
  background-image: url(./img/polygon.png);
  background-repeat: no-repeat;
  width: 170px;
  min-height: 578px;
  text-align: center;
  padding-top: 229px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 12px;
  background-size: contain;
  
}
.down_feature{margin-top: 100px;}
.feature_list{display: flex;}
.feature h3{font-size: 21px;font-weight: 500;margin-top: 0px;margin-bottom: 20px;}
.feature p{font-size: 12px;font-weight: 300;}
#employer_carousel, #seeker_carousel{padding-top: 20px;padding-bottom: 20px;}
.mobile_feature{
    background-image: url(./img/mobile_polygon.png);
    background-repeat: no-repeat;
    width: 290px;
    min-height: 800px;
    text-align: center;
    padding-top: 335px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}
.section_tittle{
  font-size:42px;
  font-weight: 500;
  line-height: 50px; 
  margin-top: 0px;
  
}
.section_tittle:after{   
    content: "";
    display: block;
    width: 73px;
    background-color: #000;
    height: 6px;
    margin-top: 35px;
    margin-bottom: 25px;
}


/*footer*/

.footer{
  background: #000;
  }
.logo-container{
  border-bottom:1px solid #1b1b1b; 
  padding-top: 60px;
  padding-bottom: 20px;

}
.footer-menu{padding-top: 10px;border-bottom:1px solid #1b1b1b; }
.footer-menu h4{
  color: #00b59d;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}
.footer-menu .menu_list{padding-left: 0px;}
.footer-menu .menu_list li{
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}
.footer-menu .menu_list li a{
  color: #fff;
}
.footer-menu .social_list{padding-left: 0px;}
.footer-menu .social_list li{
  display: inline-block;
  margin-right:10px; 
  margin-left:10px;
  margin-bottom: 25px;

}
.footer-menu .social_list li a{
  color: #333;
}
.footer-menu .social_list li a:hover{
  color: #fff;
}
.copyright{
  padding-bottom: 15px;
  padding-top: 15px;
}
.copyright p{
  color: #fff;
  font-weight: 300;
  
}

/*sidebar*/

.sidesection{background: #000;padding-bottom: 50px;}
.social_slider_row{padding-top: 50px;}
.social_slider{position: relative; }
.social_slider .item img{margin: 10px auto 0px;}
.dark_background{
  background-color: #333;
  border-radius: 12px;
  width: 100%;
  height: 341px;
  -ms-transform: rotate(4deg); /* IE 9 */
  -webkit-transform: rotate(4deg); /* Safari */
  transform: rotate(4deg);
  
}
.slider_background{
  background-color: #fff;
  border-radius: 12px;
  width: 100%;
  height: 341px;
  position: absolute;
  top: 0px;
  padding: 15px;
  padding-top: 40px;
  font-size: 13px;
}
.slider_background p{margin-bottom: 0px;}
.post_click span{display: inline-block;margin-right:15px; }
.post_click{background-color: #f4f4f4;padding-top: 3px;padding-bottom: 3px;}
.carousel-control.left{background-image: none;}
.carousel-control.right{background-image: none;}
.post_slider .carousel-control.left{
  width: 45px;
  height: 45px;
  top: 50%;
  left: -10px;
  background-color: #333;
  border-radius: 50%;
}
.post_slider .carousel-control .glyphicon-chevron-left{margin-top: -15px;margin-left: -15px;}
.post_slider .carousel-control .glyphicon-chevron-right{margin-top: -15px;margin-right: -15px;}
.post_slider .carousel-control.right{
  width: 45px;
  height: 45px;
  top: 50%;
  right: -10px;
  background-color: #333;
  border-radius: 50%;
}
video { 
   width:100%;
   max-width:500px;
   height:auto;
}
.slider_tittle{
  position: absolute;
  top: -22px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 10;
  left: 22px;
  -webkit-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.44);
-moz-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.44);
box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.44);
}
.slider_tittle span{
    color: #fff;
    margin-top: 12px;
    margin-left: 15px;
    display: block;
    }

.ui-group-buttons .or{position:relative;float:left;width:.3em;height:1.3em;z-index:3;font-size:12px}
.ui-group-buttons .or:before{position:absolute;top:50%;left:50%;content:'or';background-color:#5a5a5a;margin-top:-.1em;margin-left:-.9em;width:1.8em;height:1.8em;line-height:1.55;color:#fff;font-style:normal;font-weight:400;text-align:center;border-radius:500px;-webkit-box-shadow:0 0 0 1px rgba(0,0,0,0.1);box-shadow:0 0 0 1px rgba(0,0,0,0.1);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}
.ui-group-buttons .or:after{position:absolute;top:0;left:0;content:' ';width:.3em;height:2.84em;background-color:rgba(0,0,0,0);border-top:.6em solid #5a5a5a;border-bottom:.6em solid #5a5a5a}
.ui-group-buttons .or.or-lg{height:1.3em;font-size:16px}
.ui-group-buttons .or.or-lg:after{height:2.85em}
.ui-group-buttons .or.or-sm{height:1em}
.ui-group-buttons .or.or-sm:after{height:2.5em}
.ui-group-buttons .or.or-xs{height:.25em}
.ui-group-buttons .or.or-xs:after{height:1.84em;z-index:-1000}
.ui-group-buttons{display:inline-block;vertical-align:middle}
.ui-group-buttons:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.ui-group-buttons .btn{float:left;border-radius:0}
.ui-group-buttons .btn:first-child{margin-left:0;border-top-left-radius:.25em;border-bottom-left-radius:.25em;padding-right:15px}
.ui-group-buttons .btn:last-child{border-top-right-radius:.25em;border-bottom-right-radius:.25em;padding-left:15px}


/*responsive css*/




@media (min-width: 768px) {
  .row.equal {
    display: flex;
    flex-wrap: wrap;
  }
  .fullscreen-bg{height: 90vh;}
  .navbar-default.custom-navbar{
    min-height: 96px;
  }
  .navbar-default.custom-navbar .navbar-collapse{
    padding-top: 23px;
  }
  .dark_background{
    margin-left: 10px;
  }
  .slider_background{
    left: 10px;
  }
}

@media (max-width: 768px){
  .fullscreen-bg{height: 50vh;}
  .navbar-default.custom-navbar{
    min-height: 60px;
  }
  .navbar-default.custom-navbar .navbar-brand{padding:2px 15px;}
}
@media screen and (max-width: 1365px) and (min-width: 1023px){
  .feature h3{font-size:16px;font-weight: 500;margin-top: 0px;margin-bottom: 10px;}
  .feature{padding-top: 200px}
  .experience{
  background-image: url(./img/polygon.png) !important;
}
.efficient{
  background-image: url(./img/polygon2.png) !important; 
  
}
}



