@charset "utf-8";
/* CSS Document */

/* YOUR CUSTOM STYLES */
body {	
	color: #000000;
	font-family: 'Roboto', sans-serif;
	font-size:12px;	
}

/* Standard Styles Starts */
a { color: #000; 
	text-decoration: none;
	-webkit-transition:all 200ms ease-in;
	-o-transition:all 200ms ease-in;
	-moz-transition:all 200ms ease-in;
 }
a:hover, 
a:focus {
	color: #00b59d;
	text-decoration:none;
}
a:focus { outline: none; }

hr{ width:50px; background:#0cb58f; height:3px; border:0px; float:left;}

h1{ font-size:36px; color:#000000; }
h2{ font-size:32px; color:#000000; }
h3{ font-size:26px; color:#000000; }
h4{ font-size:22px; color:#000000; line-height:24px;}
h5{ font-size:14px; color:#000000; line-height:24px;}
h6{ font-size:12px; color:#000000; line-height:22px; }

b{ font-weight:400;}
/* Placeholder Color */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#acacac;
}
::-moz-placeholder { /* Firefox 19+ */
  color:#acacac;
}
:-ms-input-placeholder { /* IE 10+ */
  color:#acacac;
}
:-moz-placeholder { /* Firefox 18- */
  color:#acacac;
}


/* SCROLL */
::-webkit-scrollbar {
	width: 8px;
}
/* Track */

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
/* Handle */

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background:#da4936;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
   background:#000;
}
.prime-color{ color:#00b59d;}
.prime-back{ background:#00b59d;}

/* Navigation */
#header{ padding:18px;}

.navbar{ margin-bottom:0px;}
.navbar .navbar-nav > li{ margin-left:5px;}
.navbar .navbar-nav > li > a{ font-size: 14px; color:#000; font-weight:600; padding:12px 14px; }
.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover, .navbar .navbar-nav > .active > a:focus{ background:none; color:#000 !important; }
.navbar .navbar-nav > li > a:hover{color:#000; border-bottom:2px solid #0cb58f;}
.active{ color:#000; border-bottom:2px solid #0cb58f;}

.btn-warning{color:#fff !important; font-size:14px !important; font-weight:600; text-transform:none;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff7725+0,ff7725+50,ec4b17+50,ec4b17+100 */
background: #ff7725; /* Old browsers */
background: -moz-linear-gradient(top, #ff7725 0%, #ff7725 50%, #ec4b17 50%, #ec4b17 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ff7725 0%,#ff7725 50%,#ec4b17 50%,#ec4b17 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ff7725 0%,#ff7725 50%,#ec4b17 50%,#ec4b17 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7725', endColorstr='#ec4b17',GradientType=0 ); /* IE6-9 */
}
.btn-warning a:focus{ background:none;}
.btn-rounded{ border-radius:12px; }

.navbar .navbar-toggle .icon-bar{ background-color:#fff;}
.navbar .navbar-toggle{ background-color:#0cb58f;}
.navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus{ color:#000; }

.navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus{ background:#000;}
.navbar-toggle{ margin-right:0px;}
.mob-nav-set{ padding-bottom:0px;}

/* Sign in */
.login-mobile-set{ display:none;}

#signup{ background:#000; padding:12px;}
#signup h5{ color:#FFF; text-align:center; padding:0px; margin:0px;}
#signup h5 a{ color:#FFF; font-weight:400;}
#signup h5 a:hover{ color:#1ce7b5;}

#signup{ 
  	background: linear-gradient(
    to right, 
    #000000 0%, 
    #000000 50%, 
    #383838 50%, 
    #383838 100%
  );
}



/* Banner */
#banner{ display:none; padding:40px; 
-webkit-box-shadow: inset 0px 9px 21px -8px rgba(0,0,0,0.77);
-moz-box-shadow: inset 0px 9px 21px -8px rgba(0,0,0,0.77);
box-shadow: inset 0px 9px 21px -8px rgba(0,0,0,0.77);

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#19e3b3+0,01bfa5+50,01bfa5+100 */
background: #19e3b3; /* Old browsers */
background: -moz-linear-gradient(top, #19e3b3 0%, #01bfa5 50%, #01bfa5 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #19e3b3 0%,#01bfa5 50%,#01bfa5 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #19e3b3 0%,#01bfa5 50%,#01bfa5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19e3b3', endColorstr='#01bfa5',GradientType=0 ); /* IE6-9 */
}

.job-seekar{ }
.border-vertical{background:none;}
.border-bottom{background:url(../img/border-bottom.png) bottom no-repeat; margin-top:10px; margin-bottom:10px;}
.border-bottom-mob-set{background:url(../img/border-bottom.png) bottom no-repeat; margin-top:10px; margin-bottom:10px;}
.job-seekar h2 { font-size:24px;}
.job-seekar h2 b{ text-shadow: 0px 5px 0px rgba(147, 150, 150, 0.47);}


.freelancer h5{ font-size:12px; font-weight:400;}
.job-provider h2{ font-size:24px; text-align:center;}
.job-provider h2 b{ text-shadow: 0px 5px 0px rgba(147, 150, 150, 0.47);}
.job-provider h5{ font-size:12px; font-weight:400; text-align:center; margin-bottom:30px;}

.work-done h2{ font-size:24px;}
.work-done h2 b{ text-shadow: 0px 5px 0px rgba(147, 150, 150, 0.47);}
.work-done h5{ font-size:12px; font-weight:400; text-align:center; margin-bottom:30px;}

.btn-default{ border-radius:6px; font-size:20px; font-weight:300; text-transform:none; margin-left:0px; padding-left:10px; padding-right:10px; padding-bottom:0px; 
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff9125+0,ef5119+99 */
background: #ff9125; /* Old browsers */
background: -moz-linear-gradient(top, #ff9125 0%, #ef5119 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ff9125 0%,#ef5119 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ff9125 0%,#ef5119 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9125', endColorstr='#ef5119',GradientType=0 ); /* IE6-9 */	
	}
.btn-default h2{ font-size:12px; color:#fff; float:right; padding:0px; margin-top:7px; margin-bottom:6px;}	
.btn-default .material-icons{ margin-top:0px; margin-left:0px;}
.md-36{ font-size:16px !important;}

/*--------------------
Serch Input
--------------------*/
.search-form {
	margin-top:30px;
  position: relative;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 45px;
  border-radius: 40px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}


.search-input {
  position: absolute;
  top: 10px;
  left: 50px;
  font-size: 18px;
  font-weight:300;
  background: none;
  color: #000;
  width: 195px;
  height: 20px;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}
.search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
          appearance: none;
}

.search-button {
  position: absolute;
  top: 10px;
  left: 15px;
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none !important;
  cursor: pointer;
}
.search-button svg {
  width: 30px;
  height: 30px;
  fill: #cccccc;
}

/* MOBILE BANNER */
#banner-mobile{ display:block;}
#banner-mobile .carousel-caption h3{ font-size:22px; text-shadow:none; margin-top:0px; margin-bottom:5px;}
#banner-mobile .carousel-caption .btn{ margin:0px;}
#banner-mobile .carousel-caption img{ width:40%;}
#banner-mobile .carousel .carousel-indicators li{ width:7px; height:7px; }
#banner-mobile .carousel .carousel-indicators .active{width:7px; height:7px; }
#banner-mobile .carousel-indicators li{ margin:0px;}



/* Whats Different */
#what-different{ padding:25px;}
#what-different h1{ font-size:22px; text-align:center; font-weight:600; margin:0px 0px 20px 0px;}
#what-different hr{ display:none;}
#what-different h3{ font-size:14px; font-weight:600; line-height:18px; }
#what-different h5{ display:none;}

.what-diff-left-1 hr{ float:none; width:60px; background:#ff9a08; height:4px; border:0px;}
.what-diff-left-2 hr{ float:none; width:60px; background:#e23927; height:4px; border:0px;}
.what-diff-left-3 hr{ float:none; width:60px; background:#00b59d; height:4px; border:0px;}
.what-diff-left-4 hr{ float:none; width:60px; background:#33789d; height:4px; border:0px;}



/* Latest Job */
.latest-job{ margin-top:40px; border-radius:6px; min-height:auto; border:solid 1px #00b59d;}
.latest-job-head{ margin-top:15px; height:40px; 
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2dc2ae+0,2dc2ae+50,00b59d+50,00b59d+100 */
background: #2dc2ae; /* Old browsers */
background: -moz-linear-gradient(top, #2dc2ae 0%, #2dc2ae 50%, #00b59d 50%, #00b59d 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #2dc2ae 0%,#2dc2ae 50%,#00b59d 50%,#00b59d 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #2dc2ae 0%,#2dc2ae 50%,#00b59d 50%,#00b59d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2dc2ae', endColorstr='#00b59d',GradientType=0 ); /* IE6-9 */	
	}
	
.latest-job-head{ margin-bottom:18px;}
.latest-job-head h3{ font-size:20px !important; padding-top:6px; margin-top:4px; color:#fff; font-weight:500 !important; }	
.latest-job h4{ font-size:16px; font-weight:500; margin-bottom:0px; padding:0px;}
.latest-job h5{ font-size:12px; font-weight:400; margin:0px; padding:0px; }
.latest-job .btn{ border-radius:4px; margin:0px; padding:3px 14px; font-size:10px !important; font-weight:normal;}

.latest-job-listing-scroll{ min-height:auto;}
.latest-job-listing{ border-bottom:solid 1px #c7c7c7; padding-bottom:15px;}
.latest-job-listing h4{ text-align:left;}
.latest-job-listing h5{ text-align:left;}


/* Text Srcoll */
#text-srcoll{ padding:0px 0px 20px 0px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#19e4b4+0,01bfa5+100 */
background: #19e4b4; /* Old browsers */
background: -moz-linear-gradient(top, #19e4b4 0%, #01bfa5 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #19e4b4 0%,#01bfa5 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #19e4b4 0%,#01bfa5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19e4b4', endColorstr='#01bfa5',GradientType=0 ); /* IE6-9 */
}
#text-srcoll{ height:auto; }
#text-srcoll h2{ text-align:center; font-size:32px; line-height:46px; padding-top:0px;}

#text-srcoll .carousel .carousel-indicators li{ width:7px; height:7px; }
#text-srcoll .carousel .carousel-indicators .active{width:7px; height:7px; }
#text-srcoll .carousel-indicators li{ margin:0px;}
#text-srcoll .blockquote{ padding:0px;}



/* Why Find Projects */
#why-poject{ display:none; padding:25px; height:auto; background:#f6f6f6;}
#why-poject h1{ font-weight:600; margin-bottom:-10px;}

.circle-img-set{ margin-top:40px;}
.circle-img-set-hide{ display:none;}
.why-proj-txt h1{ font-size:22px; text-align:center;}
.why-proj-txt hr{ float:none;}

.why-proj-txt h3{ font-size:16px; font-weight:500; padding:0px; margin:0px; }
.why-proj-txt h5{ display:none; font-size:14px; color:#989898;  padding:0px; margin:0px; line-height:18px;}

/* Why Find Projects MOBILE */
#why-poject-mob{ display:block;}
#why-poject-mob h3{ font-size:16px; line-height:18px; padding-top:10px; text-align:center;}
#why-poject-mob hr{ display:none;}




/* Service-we-Offer */
#service-we-offer{ display:none; padding-bottom:25px;}
#service-we-offer h1{ font-weight:600; margin-bottom:-10px; }
#service-we-offer hr{ float:none;}
#service-we-offer h4{ font-size:18px; font-weight:400;}
.border-right{ border-left:solid 1px #e6e6e6;}

#service-we-offer-mob{ display:block; margin-top:20px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#19e4b4+0,01bfa5+100 */
background: #19e4b4; /* Old browsers */
background: -moz-linear-gradient(top, #19e4b4 0%, #01bfa5 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #19e4b4 0%,#01bfa5 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #19e4b4 0%,#01bfa5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19e4b4', endColorstr='#01bfa5',GradientType=0 ); /* IE6-9 */
}

#service-we-offer-mob h1{ font-weight:600; font-size:22px; margin-bottom:8px; margin-top:18px;}
#service-we-offer-mob hr{ display:none;}
#service-we-offer-mob .carousel .carousel-indicators li{ width:7px; height:7px; }
#service-we-offer-mob .carousel .carousel-indicators .active{width:7px; height:7px; }
#service-we-offer-mob .carousel-indicators li{ margin:0px;}


/* How it Work */
#how-it-work{ padding:0px 20px 0px 20px; background:#eeeeee;}
#how-it-work h1{ font-size:22px; font-weight:600; margin-bottom:-10px; }
#how-it-work hr{ display:none; float:none;}

#how-it-work h4{ font-size:14px; font-weight:600;}



/* Number Counter */
#number-counter{ display:none; padding:50px; background:#000;}
#number-counter h1{ font-size:54px; font-weight:700; color:#1fbea9; margin:0px; padding:0px;}
#number-counter h3{ font-size:23px; font-weight:400; color:#ffffff; margin:0px; padding:0px;}


#number-counter-mob{ display:block; background:#000; padding:0px;}
#number-counter-mob .number-counter-mob-green{ font-size:36px; color:#00bfa5; font-weight:600; padding:0px; margin:10px 0px 0px 0px;}
#number-counter-mob h4{ padding:0px; margin:10px 0px 0px 0px;}
#number-counter-mob .carousel .carousel-indicators li{ width:7px; height:7px; }
#number-counter-mob .carousel .carousel-indicators .active{width:7px; height:7px; }
#number-counter-mob .carousel-indicators li{ margin:0px;}


/* Success Stories */
.carousel-inner .active{ border-bottom:none !important;}
#success-stories{ padding-top:0px; margin-top:0px; margin-bottom:20px; background:none; min-height:auto;}

#success-stories h1{ font-size:22px; font-weight:600; margin-bottom:-10px; }
#success-stories h5{ font-size:14px; text-align:center; line-height:16px; padding:0px 30px 0px 30px;}
#success-stories small{ text-align:center;}
#success-stories hr{ display:none; float:none;}
.quote-mob-set{ display:none !important;}
.img-circle-mob-set{ margin-top:25px;}

.carousel h5{ color:#747474; font-size:18px; line-height:26px;}
.carousel .carousel-indicators .active{ height:16px; width:16px;}
.carousel-control .fa{ font-size:32px; color:#c6c6c6; }

#quote-carousel img
{
	width:80px; display:block;
}



/* Footer */
#footer{ display:none; background:#000; padding:40px;}
.footer-set{ border-bottom:solid 1px #1b1b1b; padding-bottom:30px;}

.copy-rigt h5{ font-size:12px; color:#868686; border-bottom:solid 1px #1b1b1b;}

.sitelink h5{ font-weight:500; color:#00b59d;}
.sitelink ul li{ color:#868686; line-height:24px; text-transform:uppercase; font-size:12px;}

.fa-facebook{ color:#333333; font-size:18px;}
.fa-facebook:hover{ color:#00a690;}

.fa-google{ color:#333333; font-size:18px;}
.fa-google:hover{ color:#00a690;}

.fa-twitter{ color:#333333; font-size:18px;}
.fa-twitter:hover{ color:#00a690;}

.fa-pinterest{ color:#333333; font-size:18px;}
.fa-pinterest:hover{ color:#00a690;}

.fa-twitter{ color:#333333; font-size:18px;}
.fa-twitter:hover{ color:#00a690;}

.fa-instagram{ color:#333333; font-size:18px;}
.fa-instagram:hover{ color:#00a690;}


#footer-mobile{ display:block; background:#000; padding:40px;}
#footer-mobile h5{ text-align:center; border-bottom:none;}

#footer-mobile .form-control{ background:#272727; border:solid 1px #00af97; color:#00af97; border-radius:0px;}

#footer-mobile .sitelink{ border-bottom:solid 1px #1b1b1b;}

#footer-mobile .fa-facebook{ color:#333333; font-size:32px;}
#footer-mobile .fa-facebook:hover{ color:#00a690;}

#footer-mobile .fa-google{ color:#333333; font-size:32px;}
#footer-mobile .fa-google:hover{ color:#00a690;}

#footer-mobile .fa-twitter{ color:#333333; font-size:32px;}
#footer-mobile .fa-twitter:hover{ color:#00a690;}

#footer-mobile .fa-pinterest{ color:#333333; font-size:32px;}
#footer-mobile .fa-pinterest:hover{ color:#00a690;}

#footer-mobile .fa-twitter{ color:#333333; font-size:32px;}
#footer-mobile .fa-twitter:hover{ color:#00a690;}

#footer-mobile .fa-instagram{ color:#333333; font-size:32px;}
#footer-mobile .fa-instagram:hover{ color:#00a690;}

